.package h3{
    color:#00a99d
}
.package{
    
    min-height: 500px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px grey;
    
}
.booking-button{
    background-color: #00a99d;
    color: seashell;
}
